<form id="login" method="post">
    <input type="email" name="email" value="" placeholder="Correo...">
    <br><br>
    <input type="password" name="password" value="" placeholder="Contraseña...">
    <br><br>
    <input type="submit" value="Entrar">
</form>
<script type="text/javascript">

    const formLogin = document.querySelector('#login');
    const formData = new FormData(formLogin);

    formLogin.addEventListener('submit', event => {
        event.preventDefault();
        fetch('/api/signin', { 
            method: 'POST', 
            body: formData
        })
        .then(res => res.json())
        .then(data => { 
            console.log(data.token);
            localStorage.setItem('token', data.token) ;
        });
    });

</script>